@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;1,700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}
.input-form {
  @apply bg-transparent text-white font-inter font-medium text-xl;
}
.food-serving-bg {
  background-image: url("../images/food-services/food-serving-bg.png");
}
